VITE_VAULTLOCK_RPC_URL=https://soroban-testnet.stellar.org:443
VITE_VAULTLOCK_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_VAULTLOCK_CONTRACT_ID=CAV7J32QW5L4F66XZ72OZX25Z64D7S5X2U4E6U2I5Y4Y4T5U6O7P8Q9R
